@import "helpers/responsive.scss";
@import "base/colors.scss";


.hero {
  padding: 180px 0px 100px 0px;
  background-image: url("../assets/images/img-bglayer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .garis {
    width: 100px;
    height: 30px;
    background-color: $secondary;
  }

  h1 {
    font-family: 'Mochiy Pop One', sans-serif !important;
    font-size: 60px;
    line-height: 90px;
    color: $blackfont;
    margin-left: 20px;
  } 
  span {
    font-family: 'Mochiy Pop One', sans-serif !important;
    font-size: 60px;
    line-height: 90px;
    color: $primary;
  }
  p {
    font-size: 30px;
    line-height: 47px;
    color: #A5A1A8;
  }
}

.description {
  margin-bottom: 100px;
  padding-top: 50px;


  .profile-creator {
    padding: 25px 30px 25px 30px;
    background-color: $secondary;
    border-radius: 20px;
    margin-bottom: 20px;

    background-image: url("../assets/images/img-bglayer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .img-fluid {
      border: 5px $primary solid !important;
      border-radius: 100%;
    }
  }

  h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
  }

  span {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    color: #EEEEF3;
    cursor: pointer;

    &img, svg:hover {
      color: $primary !important;
      transition: 0.5s;
    }
  }

  .card-description {
    margin-top: 25px;
  }


  .card-profile {
    p {
      text-align: justify;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
  }

  .card-academic-experience {
    border-bottom: 0;
  }
  .tabcontent-academic-experience {
    margin-top: 20px;
    margin-left: 20px;
  }

  .tabcontent-academic-experience p {
    font-size: 20px;
  }
  .tabcontent-academic-experience li {
    list-style: none;
  }

}

.project {
  padding: 40px 0px 20px 0px;
  background-color: $primary;
  margin-bottom: 100px;

  background-image: url("https://swg.co.id/images/bg-image/row-bgimage-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  span {
    font-family: 'Mochiy Pop One', sans-serif !important;
    font-size: 30px;
    color: #FFFFFF;
  }

  .img-project {
    border-radius: 20px;
    object-fit: cover;
  }
}

.certificate {
  margin-bottom: 100px;
  
  h3 {
    font-family: 'DM Mono';
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    color: $blackfont;
  }

  .card-certificate {
    background: #FFFFFF;
    box-shadow: 5px 4px 15px rgb(0 0 0 / 8%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 10px;

    .img-fluid {
      object-fit: contain;
    }
  }
  
}

.skill {
  margin-bottom: 100px;

  h3 {
    font-family: 'DM Mono';
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    color: $blackfont;
  }

  .card-skill {
    background: #FFFFFF;
    box-shadow: 5px 4px 15px rgb(0 0 0 / 8%);
    border-radius: 20px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: 10px;

    .img-fluid {
      object-fit: contain;
    }
  }
}


@include screenLG() {

  .hero {
    text-align: center;

    h1 {
      font-size: 50px;
      margin-left: inherit;
      line-height: inherit;
    }
    span {
      font-size: 50px;
      line-height: inherit;
    }
    p {
      font-size: 25px;
      margin-top: 20px;
    }
  }

  .description {
    h4 {
      margin-top: 15px;
    }
   
    .tabcontent-academic-experience p {
      font-size: 15px;
    }
    .card-profile {
      p {
        padding: 0px 10px;
        text-align: inherit;
      font-size: 15px;
      }
    }
    
  }


}

