@import "helpers/responsive.scss";
@import "base/colors.scss";

.hero {
    padding: 140px 0px 50px 0px;
    background-image: url("../assets/images/img-bglayer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;

    h1 {
        font-family: 'Mochiy Pop One',
            sans-serif !important;
        font-size: 40px;
        line-height: 50px;
        color: $blackfont;
    }

    p {
        font-size: 20px;
        color: #A5A1A8;
        margin: 0 auto;
        max-width: 60%;
    }
}

.project {
    margin-bottom: 100px;

    .img-project {
        object-fit: cover;
        width: 100% !important;
        height: 200px !important;
        border-radius: 20px 20px 0px 0px;
    }
    .card-project {
        border-radius: 20px;
        margin-bottom: 30px;
        
        .bg-primary {
            background: $primary !important;
            color: white;
            border-radius: 0px 0px 20px 20px;
            margin-top: -10px;
        }

        span {
            font-family: DM Mono;
            color: white;
            font-size: 12px;
            font-weight: 300px;
        }
        h3 {
            font-family: DM Mono;
            color: white;
            font-size: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &:hover {
                text-overflow: clip;
                white-space: normal;
            }
        }

        
    }

}

.preview {
    .card-detail {
        h1 {
            font-family: 'DM Mono';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 39px;
            color: $blackfont;
        }
        .img-card {
            padding: 20px;
            background-color: $primary;
            border: 5px $secondary solid;
            border-radius: 20px;
        }
        .img-apps {
            object-fit: contain;
        }
        .img-stack {
            object-fit: contain;
        }

        .text-platform {
            font-family: 'DM Mono';
            font-style: italic;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            color: $primary;
        }

        .text-stack {
            font-family: 'DM Mono';
            font-style: italic;
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
            color: $blackfont;
        }
    }
}


@include screenLG() {
    .hero {
        p {
            max-width: 90%;
        }
    }
}